# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*

# Database
*.db

# Logs
*.log
logs/

# YOLO / AI outputs
*.pt
runs/

# Videos
*.mp4
*.avi

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
